@model Exam
@{
	Layout = "~/Views/Shared/_StudentLayout.cshtml";

	ViewData["Title"] = "ResultDetails";
	var questions = ViewBag.questions;
	var answers = ViewBag.answers;
	var options = ViewBag.options;
	var StudentAnswers = ViewBag.StudentAnswers;

}

<h1>Results</h1>
<div class="Container">
	@for(int i=0;i<questions.Count;i++)
	{
		<div class="card my-3">
@* 			<div class="card-header">
				<h3>Question @(i+1)</h3>
			</div> *@
			<div class="card-body p-3">
				<h3>@(i + 1)) @questions[i]</h3>
				<hr />
				@foreach(var option in options[i])
				{
					if(option== answers[i])
					{
						<h6 class="text-success m-3">@option</h6>
					}
					else
					{
						<h6 class="text-danger m-3">@option</h6>
					}
				}
			</div>
				<div class="text-center">
				@if(StudentAnswers[i]==answers[i])
				{
					<h5 class="text-success">Your Answer: @StudentAnswers[i]</h5>
				}
				else
				{
					<h5 class="text-danger">Your Answer: @StudentAnswers[i]</h5>
				}
				</div>
</div>
	}
</div>